
</div>
<div ></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
<script>
    function myFunction() {
        console.log("done");
        document.getElementByClassName(".id").submit();
    }
</script>
</body>
</html>
